body {
    border: none;
}

main {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    border: none;
}

nav {
    height: 100px;
    background-color: rgb(200, 255, 0);
    line-height: 100px;
}
aside {
    width: 20%;
    height: 600px;
    float: left;
    background-color: rgb(160, 149, 149);
    line-height: 600px;
}

.content {
    width: 40%;
    float: left;
    height: 200px;
    line-height: 200px;
}

.box {
    height: 250px;
    width: 20%;
    float: left;
    line-height: 250px;
}

footer {
    height: 150px;
    width: 80%;
    float: left;
    background-color: rgb(39, 100, 42);
    line-height: 150px;
}

@media only screen and (max-width: 767px) {
    nav {
        height: 75px;
        background-color: rgba(60, 179, 113, 0.726);
        line-height: 75px;
    }

    header {
        height: 125px;
        background-color: rgba(123, 210, 231, 0.781);
        line-height: 125px;
    }

    aside {
        height: 150px;
        background-color: rgb(194, 108, 38);
        line-height: 150px;
    }
    
    .content {
        height: 125px;
        background-color: rgb(77, 67, 114);
        line-height: 125px;
    }

    .box {
        height: 250px;
        background-color: rgb(126, 148, 47);
        line-height: 250px;
    }

    footer {
        height: 80px;
        background-color: rgb(179, 185, 154);
        line-height: 80px;
    }
    .fullwidth {
        width: 100%;
    }

    .halfwidth {
        width: 50%;
        height: 250px;
        float: left;
    }
  }